.Individualisierter #feature {
	padding: 0px;
}
.Individualisierter {
	background-color: #edf7f0;
	padding-top: 276px;
	padding-bottom: 139px;
	margin-top: 175px;
}
.Individualisierter-item {
	height: 100%;
}
.Individualisierter-item .active {
	background-color: #62c476;
	color: #fff;
}
.Individualisierter-item .active h4 {
	color: #fff;
}
.Individualisierter-item img {
	height: 100%;
	width: 100%;
}
.Individualisierter h3 {
	font-size: 30px;
	font-weight: 700;
	color: #103b19;
	margin-bottom: 38px;
}
.Individualisierter-card-item {
	background-color: #fff;
	padding: 32px 27px;
	border-radius: 16px;
}
.Individualisierter h4 {
	font-size: 24px;
	font-weight: 500;
	color: #333333;
	text-align: center;
}
.Individualisierter ul {
	padding-left: 0 !important;
}
.Individualisierter ul li {
	padding: 10px;
}
.Individualisierter ul li:not(:last-child) {
	border-bottom: 1px solid rgba(51, 51, 51, 0.137);
}
.Individualisierter ul li .text {
	font-size: 16px;
	color: #333;
	padding-right: 0;
}
.Individualisierter ul li i {
	color: red;
}

.Individualisierter-box {
	background-color: #d1e8d8;
	border-radius: 16px;
	padding: 42px 56px;
	margin-bottom: 50px;
	margin-top: -450px;
}
.Individualisierter-box .item {
	height: 100%;
}
.Individualisierter-box h2 {
	font-size: 56px;
}
.Individualisierter-box .text {
	font-size: 16px;
}

.Individualisierter-box .item-2 {
	display: flex;
	justify-content: flex-end;
}
.Individualisierter-box .free-area {
	position: relative;
	/* max-width: 245px;
	height: 100%; */
	max-width: 245px;
	width: 100%;
	height: 100%;
}
.Individualisierter-box .free-area .free-img {
	height: 100%;
	width: 100%;
}
.Individualisierter-box .free-area .star-1,
.Individualisierter-box .free-area .star-2 {
	position: absolute;
	width: 38px;
	height: 53px;
}
.Individualisierter-box .free-area .star-1 {
	top: -20px;
	left: -25px;
}
.Individualisierter-box .free-area .star-2 {
	bottom: -20px;
	right: -25px;
}

.free-area .heading2,
.free-area .heading5,
.free-area .text {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
}

.free-area .text {
	font-size: 17px;
	top: 10px;
}

.free-area .heading2 {
	font-size: 34px;
	top: 50%;
	transform: translate(-50%, -50%);
}
.free-area .heading5 {
	font-size: 21px;
	bottom: 10px;
}
.free-area .small-star {
	position: absolute;
	bottom: 22px;
	width: 15px;
	height: 15px;
}
.free-area .small-star-1 {
	left: 45px;
}
.free-area .small-star-2 {
	right: 45px;
}

/* ============================ */
/* responsive */
/* ============================ */

@media only screen and (max-width: 992px) {
	.Individualisierter-box .item-2 {
		display: flex;
		justify-content: center;
	}
	.Individualisierter-box .heading-2 {
		font-size: 38px;
	}

	.Individualisierter h3 {
		font-size: 26px;
	}

	.Individualisierter h4 {
		font-size: 22px;
	}

	.Individualisierter ul li .text {
		font-size: 15px;
	}
	.Individualisierter {
		/* margin-top: 0; */
	}
}

@media only screen and (max-width: 560px) {
	.Individualisierter-box .heading-2 {
		font-size: 32px;
	}
	.Individualisierter h3 {
		font-size: 22px;
	}

	.Individualisierter h4 {
		font-size: 20px;
	}
	.Individualisierter ul li .text {
		font-size: 14px;
	}
}
