.quiz .hero_section {
	height: auto;
	margin-bottom: 50px;
}

.header-box {
	max-width: 1170px;
	width: 95%;
	/* height: 117px; */
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 65px;
	text-align: center;
	padding: 42px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e97575e6 0% 0% no-repeat padding-box;
	border: 1px solid #ececf1;
	border-radius: 20px;
}
.header-box h2 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0px;
	color: #ffffff;
}
.quiz .heading-2 {
	font-size: 50px;
	font-weight: 700;
	color: #333333;
	/* text-align: center; */
	padding-top: 20px;
}
.quiz .hero_wrapper {
	background-color: #edf7f0;
	padding: 52px 20px;
}

.quiz .hero_div {
	max-width: 890px;
	margin: 0 auto;
	width: 100%;
}

.quiz .common_p {
	padding-right: 0;
}

.quiz .banner-img-part {
	margin-left: -209px;
	margin-top: -100px;
}
.quiz .banner-img-part img {
	/* width: 1015px;
	height: 881px; */
	height: 881px;
	width: auto;
}

/* benefits */
.benefits {
	padding: 80px 0;
}
.benefits__list img {
	width: 100%;
}

/* ======================== */
/* quiz male */
/* ======================== */

.male {
	min-height: 100vh;
	padding-top: 50px;
}

.male .heading-2 {
	font-size: 45px;
	margin-bottom: 34px;
}
.male h3 {
	font-size: 34px;
	color: #103b19;
	text-align: center;
	margin-bottom: 48px;
}

.male .range-wrapper {
	max-width: 1170px;
	width: 95%;
	margin: 0 auto;
	height: 12px;
	background: #edf7f0;
	border-radius: 4px;
	position: relative;
	margin-bottom: 70px;
	/* margin-top: 50px; */
}

.male .range-wrapper .range {
	width: 10%;
	background-color: #62c476;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 4px;
}
.male .range-wrapper .range-squire {
	width: 49px;
	height: 34px;
	/* background-color: red; */
	position: absolute;
	top: 50%;
	/* left: 8%; */
	transform: translateY(-50%);

	/* UI Properties */
	background: #62c476;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 14px;
}

.quiz-wrapper {
	margin-top: 150px;
}

.health-list {
	/* margin-top: 100px; */
	display: flex;
	/* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
	align-items: stretch;
	justify-items: stretch;
	/* flex-direction: column; */
	justify-content: center;
	gap: 16px;
	padding-bottom: 50px;
	padding-left: 0 !important;
	flex-wrap: wrap;
}
/* .health-item {
	width: 230px;
	height: 100%;
} */
.health-item-text {
	width: 240px;
	height: auto;
	position: relative;
}

.health-item-text i {
	position: absolute;
	top: 5px;
	left: 5px;
	color: #62c476;
	display: none;
}

.health-item-text.checked i {
	color: #fff;
	display: block;
}

.health-item-text.checked .btn {
	background: #62c476;
}
.health-item-text.checked .btn .text {
	color: #fff;
}

.health-item-text .btn {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.health-item .btn {
	background: #edf7f0;
	border: 1px solid #ececf1;
	padding: 15px 10px;
	border-radius: 12px;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}
.health-item .btn:hover {
	background: #62c476;
	border: 1px solid #ececf1;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}
.health-item .btn span {
	padding-right: 0;
}
.health-item .icon {
	width: auto;
	height: 60px;
	transition: all 0.3s;
}
.health-item .text {
	color: #103b19;
	font-size: 16px;
	font-weight: 800;
	transition: all 0.3s;
	text-align: center;
}
.health-item .btn:hover .text,
.health-item .btn:hover .icon {
	color: #fff;
	fill: #fff;
}

.btn-continue {
	background-color: #62c476;
	color: #fff;
	padding: 0.8rem 2.5rem;
	border-radius: 100px;
	border: none;
	outline: none;
	/* text-align: center; */
	margin: 0 auto;
	display: block;
	text-transform: uppercase;
	opacity: 0.6;
	pointer-events: none;
}
.btn-continue.show-btn {
	opacity: 1;
	pointer-events: visible;
}

.btn-back {
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	border: none;
	outline: none;
}

.btn-back:hover {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-back a {
	text-decoration: none;
	color: #000;
}
.btn-back .text {
	text-transform: uppercase;
}

/* .top-bg,
.bottom-bg {
	position: absolute;
	z-index: -1;
	display: ;
}
.top-bg {
	top: -43%;
	right: -5%;
}
.bottom-bg {
	bottom: -2%;
	left: 0%;
} */

/* ======================== */
/* user data */
/* ======================== */
.userData {
	display: flex;
	width: 100%;
	margin: 0px auto;
	flex-direction: column;
	max-width: 447px;
	padding-bottom: 200px;
}
.userData-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
.userData-btns .btn {
	border-radius: 0;
	border: none;
	outline: none;
	text-transform: capitalize;
}
.userData .btn:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}

.userData-item {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userData-item input {
	border: none;
	outline: none;
	background-color: transparent;
	width: 60%;
}
.userData-item label {
}

.form-control:focus {
	color: #212529;
	background-color: transparent;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, 0.25);
}

.userData-btn {
	display: flex;
	justify-content: center;
}
.userData-btn .btn {
	padding: 19px 8px;
	margin: 0px 0px 50px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	color: rgb(255, 255, 255);
	background: #62c476;
	border: 1px solid #62c476;
	border-radius: 9999px;
	width: 100%;
	text-transform: uppercase;
	line-height: 1.4;
	letter-spacing: 2px;
}

.userData-btn .btn:active {
	color: rgb(255, 255, 255);
	background: #62c476;
	border: 1px solid #62c476;
}

/* ======================== */
/* responsive */
/* ======================== */
@media only screen and (max-width: 992px) {
	.quiz .header-box h2 {
		font-size: 20px;
	}
	.heading-2 {
		/* font-size: 80px; */
	}
	.male .heading {
		font-size: 48px;
	}
	.male h3 {
		font-size: 32px;
	}

	.quiz-wrapper {
		margin-top: 80px;
	}

	.header-box {
		margin-bottom: 40px;
		margin-top: 40px;
	}
	.header-box h2 {
		font-size: 22px;
	}
}
@media only screen and (max-width: 570px) {
	.quiz-wrapper {
		padding-bottom: 80px;
	}

	.header-box {
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.header-box h2 {
		font-size: 20px;
	}
}
@media only screen and (max-width: 480px) {
	.heading-2 {
		/* font-size: 70px; */
	}
	.male h3 {
		font-size: 28px;
	}
	.health-item .text {
		font-size: 14px;
	}

	.health-list {
		flex-direction: column;
		gap: 40px;
	}
	.health-item {
		max-width: 400px;
		width: 100%;
	}
}
