/* ============================ */
/* header */
/* ============================ */

.plans .content-wrapper {
	padding-top: 97px;
	padding-bottom: 40px;
}
.plans .content-wrapper .content {
	text-align: left;
}
.plans .content-wrapper .content h2 {
	font-size: 56px;
}
.plans .content-wrapper .content h2,
.plans .content-wrapper .content p {
	text-align: left;
	padding: 0;
}
.plans .content-wrapper .content p {
	font-size: 32px;
	margin-top: 27px;
}

.plans .image {
	max-width: 637px;
	width: 100%;
	height: auto;
	margin-top: -2rem;
}
.plans .image img {
	height: 100%;
	width: 100%;
}

/* ============================ */
/* subscriptions */
/* ============================ */
.subscription {
	padding: 50px 0;
	align-items: stretch;
}

.marginMinus {
	margin-top: -20%;
}
.subscription-item {
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #ececf1;
	border-radius: 20px;
	padding: 35px 52px;
	position: relative;
	height: 100%;
}
.subscription-head {
	font-size: 16px;
	padding: 9px 14px;
	background: #f5a623;
	border: 1px solid #f5a623;
	border-radius: 8px;
	text-align: center;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-weight: 600;
	width: 60%;
}
.subscription h4 {
	font-size: 22px;
	text-align: center;
}
.subscription img {
	width: 247px;
	height: 155px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-bottom: 16px !important;
}
.subscription .price-box {
	text-align: center;
	justify-content: center;
	margin-bottom: 15px;
}
.subscription span {
	padding-right: 0;
	margin: 0;
}
.subscription .price-box .currency {
	font-weight: 800;
	font-size: 25px;
	margin-top: -10px;
}
.subscription .price-box .price {
	font-size: 57px;
}
.subscription .price-box .price-small {
	font-weight: 800;
	font-size: 25px;
	margin-top: -10px;
	margin-right: 10px;
}
.subscription .price-box .based {
	color: #96a5ae;
}
.subscription h5 {
	color: #677177;
	font-size: 16px;
	text-align: center;
}
.subscription__list {
	padding-left: 0;
}

.subscription li {
	display: flex;
	align-items: center;
}
.subscription li .icon i {
	font-size: 25px;
	color: #62c476;
}
.subscription li .text {
	font-size: 17px;
	padding-left: 20px;
}

.subscription .form-check label {
	font-size: 16px;
}

.form-check-input:checked {
	background-color: #62c476;
	border-color: #62c476;
}
.form-check-input:focus {
	border-color: #62c476;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}
.subscription .discount {
	background-color: #e97575e6;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding: 4px 17px;
	border-radius: 6px;
	margin-left: 20px;
	margin-top: 5px;
}
.subscription .btn {
	display: block;
	padding: 17px 0;
	width: 100%;
	font-size: 17px;
	background-color: transparent;
	border: 1px solid #62c476;
	color: #62c476;
	font-weight: 600;
	box-shadow: 0 0 0;
}

.sparan {
	text-align: center;
	margin-top: 14px;
	font-size: 16px;
}

.active {
	background-color: #62c476;
	color: #fff;
}
.active span,
.active h5,
.active i {
	color: #fff !important;
}

.active .subscription-head {
	background-color: #fff;
	color: #000;
	border: 1px solid #62c476;
}

.active .form-check-input:checked {
	background-color: #e97575e6;
	border-color: #e97575e6;
}

.active .btn {
	background-color: #fff;
	border: 1px solid #fff;
}

/* ============================ */
/* responsive */
/* ============================ */

@media only screen and (max-width: 992px) {
	.plans .content-wrapper .content h2 {
		font-size: 46px;
	}

	.plans .content-wrapper .content p {
		font-size: 26px;
		margin-top: 24px;
	}
}
@media only screen and (max-width: 560px) {
	.plans .content-wrapper .content h2 {
		font-size: 36px;
	}

	.plans .content-wrapper .content p {
		font-size: 20px;
		margin-top: 24px;
	}
}
