.footer_section {
        background-color: #0E2814;
        padding: 4rem 0;
        letter-spacing: 1px;
        color: #FFFFFF;
        opacity: 1;
}

.footer_p {
        text-align: left;
        font: normal normal normal 14px/24px Poppins-Regular !important;
        letter-spacing: 1px;
        color: #FFFFFF7E;
        opacity: 1;
        font-family: 'Poppins', sans-serif !important;

}

.down-p {
        text-align: left;
        font: normal normal normal 16px/24px Poppins-Regular !important;
        letter-spacing: 1px;
        color: #FFFFFF7E;
        opacity: 1;
        font-family: 'Poppins', sans-serif !important;

}

ul {
        text-align: left;
        letter-spacing: 3px;
        color: #FFFFFF;
        opacity: 1;
}

li {
        list-style: none;
}

li a {
        list-style: none;
        /* UI Properties */
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        opacity: 1;
        padding-bottom: 5px;
        text-decoration: none;
}

li a:hover {
        color: #FFFFFF;
}

.down-footer a {
        color: #FFFFFF;
        text-decoration: none;
}

.social_link ul li {
        display: inline-block;
        margin-right: 10px;
}

.social_link ul li a {
        transition: all 0.3;
}

.social_link ul li a i {
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #62C476;
        transition: all 0.3;
}

.main-footer {
        padding: 30px 0px;
}

.social_link ul li a i {
        color: #FFFFFF;
}

.social_link ul li a:hover i {
        color: #62C476;
        background-color: #fff;
}

.cards {
        background-color: #62C476;
        padding: 2rem;
        margin-top: -240px;
        margin-bottom: 3rem;
        border-radius: 20px;
        position: relative;
}

.card_img {

        left: 80px;
        width: 900px;
        height: 700px
}

.card_imges {
        position: absolute;
        left: 50%;
}

.card_h2 {
        text-align: left;
        letter-spacing: -1px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Lora', serif !important;
}

.card_p {
        /* UI Properties */
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        opacity: 1;
        font-family: 'Poppins', sans-serif !important;
}

.card_btn {
        width: 170px;
        height: 48px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 14px;
        opacity: 1;
        color: #62C476;
        opacity: 1;
        text-align: center;
        font: normal normal medium 16px/25px Poppins !important;
        letter-spacing: 0px;
        color: #62C476;
        text-transform: uppercase;
        border: none;
}

.social_link div img {
        cursor: pointer;
        opacity: 1;
        transition: 0.2s;
}

.social_link div img:hover {
        opacity: .6
}

.ul-header {
        padding-bottom: 20px;
}

.cards {
        padding: 3.5rem;
        position: relative;
}


.cards::after {
        position: absolute;
        content: '';
        background-image: url(../../../src/assets/colon.png);
        right: -40px;
        bottom: 0;
        height: 123%;
        width: 44%;
        background-size: 100%;
        background-repeat: no-repeat;

}

/*======== large device =========*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*======== medium device =========*/
@media (min-width: 768px) and (max-width: 991.98px) {
        .cards::after {
                display: none;
        }

        ul {
                text-align: left;
                letter-spacing: 3px;
                color: #FFFFFF;
                opacity: 1;
                padding-left: 0px;
        }

        .footer_p {
                padding-bottom: 30px;
        }
}

/*======== small device =========*/
@media (min-width: 576px) and (max-width: 767.98px) {
        .cards {
                border-radius: 0px;
                height: 360px;
                padding: 30px;
                text-align: center;
        }

        .cards::after {
                display: none;
        }

        .card_h2 {
                text-align: center;
                font-size: 26px;
        }

        .card_p {
                text-align: center;
                padding: 10px 0px 20px;
        }

        .footer_section {
                text-align: center;
        }

        .footer_p {
                text-align: center;
        }

        .footer_section ul {
                text-align: center;
                padding: 0px;
                padding-top: 30px;
        }

        .down-p {
                text-align: center;
        }
}

/*======== Extra small device =========*/
@media (max-width: 575.98px) {
        .cards {
                border-radius: 0px;
                height: 360px;
                padding: 30px;
                text-align: center;
        }

        .cards::after {
                display: none;
        }

        .card_h2 {
                text-align: center;
                font-size: 26px;
        }

        .card_p {
                text-align: center;
                padding: 10px 0px 20px;
        }

        .footer_section {
                text-align: center;
        }

        .footer_p {
                text-align: center;
        }

        .footer_section ul {
                text-align: center;
                padding: 0px;
                padding-top: 30px;
        }

        .down-p {
                text-align: center;
        }
}