.main_box {
        position: relative;
}

.arrowsvg {
        position: absolute;
        left: 90%;
}

.usvg {
        position: absolute;
        left: 5%;
        bottom: -9%;
}

.percent_bg {
        background-color: #EDF7F0;
        padding: 5rem 0;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;


}

.percent_h4 {
        text-align: center;
        letter-spacing: -1px;
        color: #103B19;
        opacity: 1;
        font-size: 56px;
        font-weight: bold;
        font-family: 'Lora', serif !important;
}

.percent_p {
        text-align: center;
        font: normal normal normal 20px/32px Poppins;
        letter-spacing: 0px;
        color: #103B19BF;
        opacity: 1;
        padding: 0 24%;
        font-family: 'Poppins', sans-serif;

}

.content h2 {
        /* UI Properties */
        text-align: center;
        letter-spacing: -2px;
        color: #103B19;
        opacity: 1;
        font-size: 72px;
        font-weight: bold;
        font-family: 'Lora', serif !important;
}

.content p {
        text-align: center;
        font: normal normal normal 16px/32px Poppins;
        letter-spacing: 0px;
        color: #103B19BF;
        opacity: 1;
        padding: 0 2rem;
}

.stand_p {

        text-align: center;
        font: normal normal medium 14px/21px Poppins;
        letter-spacing: 0px;
        color: #103B19BF;
        opacity: 1;
        padding: 1.5rem 20%;
}


@media(max-width:500px) {
        .usvg {
                bottom: -2%;
        }
}

@media(min-width:1800px) {
        .arrowsvg {
                position: absolute;
                left: 81%;
        }

        .usvg {
                position: absolute;
                left: 15%;
                bottom: -9%;
        }
}

/*======== large device =========*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*======== medium device =========*/
@media (min-width: 768px) and (max-width: 991.98px) {
        .percent_h4 {
                font-size: 42px;
        }

        .content p {
                padding: 0 10px;
        }
}

/*======== small device =========*/
@media (min-width: 576px) and (max-width: 767.98px) {
        .percent_h4 {
                font-size: 36PX;
        }

        .percent_p {
                padding: 0 10px;
                font-size: 16px;
        }
}

/*======== Extra small device =========*/
@media (max-width: 575.98px) {
        .percent_h4 {
                font-size: 36PX;
        }

        .percent_p {
                padding: 0 10px;
                font-size: 16px;
        }
}