html {
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2,
h3,
h4 {
	font-family: 'Lora', serif !important;
}

p,
.text {
	font-family: 'Inter', sans-serif !important;
}
a:link,
a:visited {
	text-decoration: none;
}
